body {
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
}

/*------------------------------*/
/*        #header               */
/*------------------------------*/

#header {
    padding:20px 0px;
    font-family: 'Open Sans', sans-serif;
}

#header-nav {
    background-color: #fff;
}

#header-nav .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-nav .navbar-brand-title {
    padding-left: 5px;
}

#header-nav .navbar-brand img {
    height: 40px;
    width: 40px;
    border: 2px solid silver;
    border-radius: 50%;
}

#header-nav .navbar-brand h5 {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

#header-nav .navbar-brand h6 {
    color: #222;
    font-size: 11px;
    margin: 0px;
}

#header-nav .nav-link {
    font-size: 14px;
}

/*------------------------------*/
/*        #split-block          */
/*------------------------------*/

#split-block{
    background-color:#ff9800;
}
#split-block img{
    width:100%;
    height: auto;
}
#split-block h4{
    font-size: 21px;
    font-weight: bold;
    color:#fff;
    margin-bottom: 15px;
}
#split-block p{
    display: block;
    color:#3A3335;
    font-size:14px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom:25px;
}
#split-block a{
    display: inline-block;
    padding: 7px 15px;
    margin-right:10px;
    border-radius: 1px;
    background-color: #fff;
    color:#3A3335;
    font-size:12px;
    font-weight: bold;
}
#split-block a:hover{
    text-decoration: none;
}


/* card */
.card {
    margin: 15px 0;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 12px;
}

.card-body {
    padding: 10px 20px;
}