/* colors:
#fff;
#3A3335
*/

body {
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
}

/*------------------------------*/

/*        #header               */

/*------------------------------*/

#header {
    padding: 20px 0px;
    font-family: 'Open Sans', sans-serif;
}

#header-nav {
    background-color: #fff;
}

#header-nav .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-nav .navbar-brand-title {
    padding-left: 5px;
}

#header-nav .navbar-brand img {
    height: 40px;
    width: 40px;
    border: 2px solid #3B3B3B;
    border-radius: 50%;
}

#header-nav .navbar-brand h5 {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

#header-nav .navbar-brand h6 {
    color: #3B3B3B;
    font-size: 11px;
    margin: 0px;
}

#header-nav .nav-link {
    font-size: 14px;
}

/*------------------------------*/

/*        #split-block          */

/*------------------------------*/

#split-block {
    background-image: linear-gradient(to right bottom, #ffe694, #ffe2a1, #ffe0af, #ffdfbd, #ffdfca);
}

.split-block-image {
    background-color: #fff;
}

#split-block img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

#split-block h4 {
    font-size: 21px;
    font-weight: bold;
    color: #3B3B3B;
    margin-bottom: 15px;
}

#split-block p {
    display: block;
    color: #3B3B3B;
    font-size: 14px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

#split-block a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #3B3B3B;
    border-radius: 1px;
    background-color: #F9F871;
    color: #3B3B3B;
    font-size: 12px;
    font-weight: bold;
}

#split-block a:hover {
    text-decoration: none;
}

/*------------------------------*/

/*        #block-heading        */

/*------------------------------*/

#block-heading {
    padding: 30px 0px 40px;
    text-align: center;
}

#block-heading h1 {
    margin: 0px;
    font-size: 21px;
    text-align: center;
}

#block-heading h1::after {
    margin-top: 7px;
    text-align: center;
    display: block;
    position: absolute;
    margin-left: calc((100% - 80px)/2);
    content: "";
    width: 80px;
    padding: 1px;
    background-color: #F9F871;
    border-radius: 3px;
}

/*------------------------------*/

/*        #work-block           */

/*------------------------------*/

#work-block {
    background-image: linear-gradient(to right top, #ffe8f7, #ffebf9, #ffeffb, #fff2fd, #fff5ff);
}

/* card */

.card {
    margin: 15px 0;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 12px;
}

.card-body {
    padding: 10px 20px;
}

/*------------------------------*/

/*        #footer               */

/*------------------------------*/

#footer {
    text-align: center;
    background-color: #FFF5FF;
    color: #3b3b3b;
    box-shadow: 0px -3px 35px -25px #000;
}

#footer p {
    margin: 0px;
    font-size: 14px;
    word-spacing: 3px;
    letter-spacing: 0px;
}

#footer a {
    color: #324B4C;
}

#footer a:hover {
    text-decoration: none;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}