
/*------------------------------*/

/*        #header               */

/*------------------------------*/

#header {
    padding: 20px 0px;
    font-family: 'Open Sans', sans-serif;
}

#header-nav {
    background-color: #fff;
}

#header-nav .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-nav .navbar-brand-title {
    padding-left: 5px;
}

#header-nav .navbar-brand img {
    height: 40px;
    width: 40px;
    border: 2px solid #3B3B3B;
    border-radius: 50%;
}

#header-nav .navbar-brand h5 {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

#header-nav .navbar-brand h6 {
    color: #3B3B3B;
    font-size: 11px;
    margin: 0px;
}

#header-nav .nav-link {
    font-size: 14px;
}