<div id="wrapper">
  <section id="page-wrapper">
    <div id="sidebar">
      <div id="profile">
        <img src="resources/linkedin.jpg" />
        <span class='profile-title'>
          <h4>Akshay</h4>
        </span>
        <span class='profile-designation'>
          <h6>Student MCA NITK</h6>
        </span>
        <span>
          <a href='mailto:'>
                            <i class=' fa fa-envelope'></i> akshaysharmaak2@gmail.com
          </a>
        </span>
        <span class='profile-social'>
          <a href='#'>
            <i class='fab fa-github'></i>
          </a>
          <a href='#'>
            <i class='fab fa-google'></i>
          </a>
          <a href='#'>
            <i class='fab fa-instagram'></i>
          </a>
          <a href='#'>
            <i class='fab fa-facebook'></i>
          </a>
        </span>
      </div>

      <nav id="navbar-side">
        <a href='#'><i class='fa fa-home'></i> Home</a>
        <a href='#'><i class='fa fa-file'></i> Resume</a>
        <a href='#'><i class='fa fa-dasboard'></i> Projects</a>
        <a href='#'><i class='fa fa-phone'></i> Contact Me</a>
      </nav>
    </div>
    <div id="home">
      <router-outlet></router-outlet>
    </div>
  </section>

</div>