<div id="split-block">
    <div class='container'>
        <div class='row align-items-center'>
            <div class='split-block-content col-md-6 col-sm-12'>
                <h4>Akshay Sharma</h4>
                <!--<p>
                    I'm a computer science student pursuing my Master's in Computer Applications
                    from National Institute Of Technology, Surathkal Karnataka.
                </p>-->
                <p>
                    I'm a computer science student, about to complete Master's Degree in Computer
                    Applications. Worked as intern for two different firms during my summer breaks as a
                    Software Engineering Inter and Front End Developer Intern. Willing to learn new technologies
                    and use my skillset to solve interesting problems, feel free to get in touch.
                </p>
                <div>
                    <a routerLink="/projects">My Work</a>
                    <a routerLink="/contact">Contact Me</a>
                </div>
            </div>
            <div class='split-block-image col-md-6 col-sm-12'>
                <img src="../assets/insta.jpg" alt="Akshay Sharma" />
            </div>
        </div>
    </div>
</div>