/*------------------------------*/

/*        #split-block          */

/*------------------------------*/

#split-block {
    background-image: linear-gradient(to right bottom, #ffe694, #ffe2a1, #ffe0af, #ffdfbd, #ffdfca);
}

.split-block-image {
    background-color: #fff;
}

#split-block img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

#split-block h4 {
    font-size: 21px;
    font-weight: bold;
    color: #3B3B3B;
    margin-bottom: 15px;
}

#split-block p {
    display: block;
    color: #3B3B3B;
    font-size: 12px;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

#split-block a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #3B3B3B;
    border-radius: 1px;
    background-color: #F9F871;
    color: #3B3B3B;
    font-size: 12px;
    font-weight: bold;
}

#split-block a:hover {
    text-decoration: none;
}

/*------------------------------*/

/*        #block-heading        */

/*------------------------------*/

#block-heading {
    padding: 30px 0px 40px;
    text-align: center;
}

#block-heading h1 {
    margin: 0px;
    font-size: 21px;
    text-align: center;
}

#block-heading h1::after {
    margin-top: 7px;
    text-align: center;
    display: block;
    position: absolute;
    margin-left: calc((100% - 80px)/2);
    content: "";
    width: 80px;
    padding: 1px;
    background-color: #F9F871;
    border-radius: 3px;
}


@media all and (max-width:768px)
{
    #split-block{
        background-color: #F9F871;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0px 50px;
        min-height: calc(100vh - (66px + 40px + 60px));
    }
    .split-block-image{
        display: none;
    }
}