<div id="projects">
    <div class='container'>
        <div class='projects-wrapper'>
            <div class='project col-md-4 col-sm-12'>
                <a target="_blank" href='https://github.com/AkshaySharma-Akay/MyPress'>
                    <h1>My Press</h1>
                    <p>
                        Student Management System, integrated with CMS (invent web application).
                    </p>
                </a>
            </div>

            <div class='project col-md-4 col-sm-12'>
                <a target="_blank" href='https://github.com/AkshaySharma-Akay/invent'>
                    <h1>Invent</h1>
                    <p>
                        Content Management System With Django.
                    </p>
                </a>
            </div>

            <div class='project col-md-4 col-sm-12'>
                <a target="_blank" href='https://akshaysharma-akay.github.io/Interfaces/Snow/home.html'>
                    <h1>Interfaces</h1>
                    <p>
                        Front End Project, with Bootstrap, HTML5, CSS3 and JavaScript
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>