::ng-deep #wrapper {
    display: flex;
    background-color: #efefef;
}

::ng-deep #page {
    width: 100%;
    align-self: center;
    background-color: transparent;
}

#contact {
    height: 100%;
    text-align: center;
}

#contact h1 {
    font-size: 21px;
    margin: 0px;
    padding: 30px 0px;
}
.contact-social{
    margin-top:20px;
}
.contact-social{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.contact-social a {
    color: #3B3B3B;
    background-color: #fff;
    margin:20px 10px;
    box-shadow: 0px 0px 40px -15px #000;
    padding: 15px;
    border-radius: 3px;
    display:block;
}

.contact-social a i {
    font-size: 16px;
    padding: 10px;
    margin: 2px;
}