<div id="contact">
  <h1>Get In Touch</h1>
  <div class='contact-social'>
    <a target='_blank' href='https://github.com/AkshaySharma-Akay'>
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
    <a target='_blank' href='https://www.linkedin.com/in/akshay-sharma-akay/'>
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
    <a href='mailto: akshaysharmaak2@gmail.com'>
      <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
    </a>
    <a target='_blank' href='https://stackoverflow.com/users/6835756/akshay-sharma'>
      <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
    </a>
    <a target='_blank' href='https://www.facebook.com/akshaysharmaak2'>
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
    </a>
    <a target='_blank' href='https://www.instagram.com/ucliya/'>
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </a>
  </div>
</div>